.app__header{
    background: #22435f;
}

.app__header--h1{
    font-family: var(--font-base);
    color: white;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-size: 90px;
}
.app__wrapper_img img {
    width: 94%;
}
.app__header-social {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .app__header-social a {
    font-size: 17px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .app__header-social a:hover {
    color: #FEE4F1;
  }
  
  .app__header-social .line {
    width: 1px;
    height: 40px;
    background-color: white;
  }
  
  @media (max-width: 1024px) {
    .app__header-social {
      display: none;
    }
  }
  

@media screen and (min-width: 2000px) {
    .app__header--h1 {
        font-size: 180px;
        line-height: 210px;
    }
}

@media screen and (max-width: 1150px) {
    .app__header--h1 {
        font-size: 90px;
    }
}

@media screen and (max-width: 650px) {
    .app__header--h1 {
        font-size: 70px;
        line-height: 87px;
    }
}

@media screen and (max-width: 450px) {
    .app__header--h1 {
        font-size: 50px;
        line-height: 70px;
    }
}
